body, html {
    height: 100%;
    margin: 0;
}

.login-container {
    min-height: 100vh;
    background-color: #f0f2f5;
}

.login-card {
    width: 100%;
    max-width: 450px;
    border-radius: 1rem;
}

.login-logo {
    height: 70px;
    width: auto;
}

.form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-primary {
    background-color: #8f4545;
    border-color: #8f4545;
}
.btn-primary:hover {
    background-color: #7a3b3b;
    border-color: #6e3434;
}

/*
 * Estilos para resaltar los campos inválidos dentro de un input-group.
 * Bootstrap por defecto no resalta el span del icono.
*/
.input-group .form-control.is-invalid,
.input-group .form-control.is-invalid:focus {
    border-color: #dc3545; /* Color de error de Bootstrap */
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    z-index: 2; /* Asegura que el borde del input esté por encima del span */
}