/* Estilos para la tabla de reportes */
#lotesTable .badge {
    font-size: 0.8rem;
    padding: 0.4em 0.6em;
}

/* Ajustar el tamaño de los botones de acción */
#lotesTable .btn-sm {
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
}